body{
    padding: 0;
    margin: 0;
    background-image: url("https://img.freepik.com/premium-vector/seamless-pattern-with-hand-sketched-coins-white-background-financial-tiles-coin-pattern_534731-4.jpg");
}

#div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    backdrop-filter: blur(2px);
}

#select{
    display: flex;
    align-items: center;
}

#main{
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 70px;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

input, select, p{
    text-align: center;
    width: fit-content;
}

input{
    width: 100px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    width: 60%;
    text-align: center;
}

#icon{
    cursor: pointer;
}