form{
    margin: auto auto;
    width: 500px;
    height: 400px;
    background-color: rgb(56, 56, 56);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 2px black;
    border-radius: 20px;

}
.erro{
    border: 2px solid red;
}

fieldset{
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

input{
    max-width: 100%;
}
label{
    color: aliceblue;
}

button{
    margin: 5px;
}

p{
    color: rgb(255, 69, 69);
}