body{
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

#sobre-mim{
    color: aliceblue;
    display: none;
}
#titulo{
    color: aliceblue;
}