:root{
    --cor-primaria: rgb(37, 37, 37);
    --cor-secundaria: rgb(102, 183, 221);
    --cor-efeito: rgb(28, 98, 202);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 3em;
}

p{
    color: aliceblue;
    font-size: 4em;
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
    padding: 20px;

    box-shadow: 5px 5px 5px var(--cor-efeito);
}

.relogio, .cronometro{
    text-align: center;
}

button{
    font-size: 1.5em;
    padding: 5px;
    border-radius: 20px;
    background-color: var(--cor-primaria);
    cursor: pointer;
}

button:hover{
    background-color: var(--cor-efeito);
}