:root{
    --cor-1: #6c788e;
    --cor-2: #a6aec1;
    --cor-3: #cfd5e1;
    --cor-4: #ededf2;
}


#telaLogin, #telaLoja, #telaAdmin{
    min-height: 100vh;
}

#telaLogin{
    background-color: var(--cor-2);
    color: var(--cor-4);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#telaLoja{
    background-color: var(--cor-2);
}

#telaAdmin{
    background-color: var(--cor-2);
}

#cadastrar, #logar{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;

    width: fit-content;
    padding: 60px;
    background-color: var(--cor-1);

    border-radius: 20px;
    box-shadow: 5px 5px 5px #5c6679;
}

#lista-de-produtos{
    display: flex;
    flex-wrap: wrap;
}

.produto{
    background-color: lightblue;
    width: 400px;
    box-shadow: 5px 5px 5px lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

h3, h4{
    margin: 0;
}

.fotoProduto{
    width: 150px;
    height: 150px;
}

.categoriaProduto{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
}

#span{
    cursor: pointer;
    color: #20304d;
}